<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

<title>M&oacute;dulo de Cliente</title>

<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />


<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" href="static/css/stylePago.css"
	th:href="@{/css/stylePago.css}">

<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link
	href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css"
	rel="stylesheet">

<!-- CSS Files -->
<link rel="stylesheet" href="static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="static/css/paper-dashboard.css?v=2.0.0"
	th:href="@{/css/paper-dashboard.css?v=2.0.0}" />

<link rel="stylesheet" type="text/css"
	href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">

</head>

<body class="">
	<div class="wrapper ">

		<!-- Panel Menú Izquierda -->

		<div class="sidebar" data-color="white" data-active-color="danger">
			<div class="logo">
				<a href="http://www.creative-tim.com" class="simple-text logo-mini">
					<div class="logo-image-small">
						<img src="static/img/choza.png" th:src="@{/img/choza.png}">
					</div>
				</a> <a href="#" class="simple-text logo-normal"> ChibchaWeb </a>
			</div>
			<div class="sidebar-wrapper">
				<ul class="nav">
					<li><a th:href="@{/user}"> <i
							class="nc-icon nc-bookmark-2"></i>
							<p>Dominios</p>
					</a></li>
					<li><a th:href="@{/user_cuenta}"> <i
							class="nc-icon nc-badge"></i>
							<p>Cuenta</p>
					</a></li>
					<li class="active"><a th:href="@{/user_info_pago}"> <i
							class="nc-icon nc-tag-content"></i>
							<p>Informaci&oacute;n de Pago</p>
					</a></li>
				</ul>
			</div>
		</div>

		<!-- Fin Menú Panel Izquierda -->

		<div class="main-panel">

			<!-- Barra de Navegación -->
			<nav
				class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">

				<div class="container-fluid">
					<div class="navbar-wrapper">
						<div class="navbar-toggle">
							<button type="button" class="navbar-toggler">
								<span class="navbar-toggler-bar bar1"></span> <span
									class="navbar-toggler-bar bar2"></span> <span
									class="navbar-toggler-bar bar3"></span>
							</button>
						</div>
						<a class="navbar-brand" href="#">M&oacute;dulo de Cliente</a>
					</div>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navigation" aria-controls="navigation-index"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-bar navbar-kebab"></span> <span
							class="navbar-toggler-bar navbar-kebab"></span> <span
							class="navbar-toggler-bar navbar-kebab"></span>
					</button>

					<div class="collapse navbar-collapse justify-content-end"
						id="navigation">

						<ul class="navbar-nav">

							<li class="nav-item"><a class="nav-link btn-magnify"
								th:href="@{/user}"> <i class="nc-icon nc-layout-11"></i>
									<p>
										<span class="d-lg-none d-md-block">Stats</span>
									</p>
							</a></li>

							<li class="nav-item btn-rotate dropdown"><a
								class="nav-link dropdown-toggle" id="navbarDropdownMenuLink"
								data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false"> <i class="nc-icon nc-bell-55"></i>
									<p>
										<span class="d-lg-none d-md-block">Acciones</span>
									</p>
							</a>
								<div class="dropdown-menu dropdown-menu-right"
									aria-labelledby="navbarDropdownMenuLink">

									<form th:action="@{/logout}" method="post">
										<input class="dropdown-item" type="submit"
											value="Cerrar Sesion" />
									</form>

									<a class="dropdown-item" th:target="_blank"
										th:href="@{/gestion_tickets}">Petici&oacute;n</a>

								</div></li>

						</ul>
					</div>
				</div>
			</nav>
			<!-- Fin Barra de Navegación -->


			<div class="content">

				<div class="row">
					<div style="background: white; width: 100%; border-radius: 12px;">
					
						<div>
						<div class="card-header " style="background: white;border-radius: 12px;">
								<h5 class="card-title">Tarjeta de Crédito</h5>
							</div>
						
							<br>
						</div>
						<div id="container">
							<div class="col1">
								<div class="card">
									<div class="front">
										<div class="type">
											<img class="bankid" />
										</div>
										<span class="chip"></span> <span class="card_number">&#x25CF;&#x25CF;&#x25CF;&#x25CF;
											&#x25CF;&#x25CF;&#x25CF;&#x25CF;
											&#x25CF;&#x25CF;&#x25CF;&#x25CF;
											&#x25CF;&#x25CF;&#x25CF;&#x25CF; </span>
										<div class="date">
											<span class="date_value">MM / YYYY</span>
										</div>
										<span class="fullname">NOMBRE</span>
									</div>
									<div class="back">
										<div class="magnetic"></div>
										<div class="bar"></div>
										<span class="seccode">&#x25CF;&#x25CF;&#x25CF;</span> <span
											class="chip"></span><span class="disclaimer">This card
											is property of Random Bank of Random corporation. <br>
											If found please return to Random Bank of Random corporation -
											21968 Paris, Verdi Street, 34
										</span>
									</div>
								</div>
							</div>
							<div class="col2">
							<form th:action="@{/guardar_tarjeta}" th:object="${tarjeta}"
									method="post">
								<label>N&uacute;mero Tarjeta</label> <input class="number" type="text"
									ng-model="ncard" maxlength="19"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57' th:field="${tarjeta.numTarjeta}" />
								<label>Nombre del Titular</label> <input class="inputname"
									type="text" placeholder="" th:field="${tarjeta.titular}"/> <label>Fecha vencimiento</label> <input
									class="expire" type="text" placeholder="MM / YYYY" th:field="${tarjeta.fechaVencimiento}" /> <label>N&uacute;mero de Seguridad</label> 
									<input class="ccv" type="text" placeholder="CVC" maxlength="3"
									onkeypress='return event.charCode >= 48 && event.charCode <= 57' th:field="${tarjeta.numSeguridad}"/>
								<button type="submit" class="buy">
									<i class="material-icons">lock</i> Registrar
								</button>
							</form>
							</div>
						</div>
						<div>
							<br>
						</div>
					</div>
				</div>

				<!-- partial -->
				<script
					src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js'></script>
				<script
					src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
				<script
					src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js'></script>
				<script src="static/js/scriptPago.js" th:src="@{/js/scriptPago.js}"></script>





			</div>

			<footer class="footer footer-black  footer-white ">
				<div class="container-fluid">
					<div class="row">
						<nav class="footer-nav">
							<ul>
								<li><a href="https://www.creative-tim.com" target="_blank">Creative
										Tim</a></li>
								<li><a href="http://blog.creative-tim.com/" target="_blank">Blog</a>
								</li>
								<li><a href="https://www.creative-tim.com/license"
									target="_blank">Licenses</a></li>
							</ul>
						</nav>
						<div class="credits ml-auto">
							<span class="copyright"> © <script>
								document.write(new Date().getFullYear())
							</script>, made with <i class="fa fa-heart heart"></i> by Creative Tim
							</span>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>


	<!--   Core JS Files   -->
	<script src="static/js/jquery-2.1.0.min.js"
		th:src="@{/js/jquery-2.1.0.min.js}"></script>

	<script src="static/js/popper.js" th:src="@{/js/popper.js}"></script>

	<script src="static/js/bootstrap.min.js"
		th:src="@{/js/bootstrap.min.js}"></script>

	<script src="static/js/perfect-scrollbar.jquery.min.js"
		th:src="@{/js/perfect-scrollbar.jquery.min.js}"></script>


	<!-- Chart JS -->
	<script src="static/js/chartjs.min.js" th:src="@{/js/chartjs.min.js}"></script>

	<!--  Notifications Plugin    -->
	<script src="static/js/bootstrap-notify.js"
		th:src="@{/js/bootstrap-notify.js}"></script>

	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script src="static/js/paper-dashboard.min.js?v=2.0.0"
		th:src="@{/js/paper-dashboard.min.js?v=2.0.0}"></script>

	<script type="text/javascript" language="javascript"
		src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" language="javascript"
		src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

	<script type="text/javascript" class="init">
		$(document)
				.ready(
						function() {
							$('#example')
									.DataTable(
											{
												"language" : {
													"sProcessing" : "Procesando...",
													"sLengthMenu" : "Mostrar _MENU_ registros",
													"sZeroRecords" : "No se encontraron resultados",
													"sEmptyTable" : "Ningún dato disponible en esta tabla",
													"sInfo" : "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
													"sInfoEmpty" : "Mostrando registros del 0 al 0 de un total de 0 registros",
													"sInfoFiltered" : "(filtrado de un total de _MAX_ registros)",
													"sInfoPostFix" : "",
													"sSearch" : "Buscar:",
													"sUrl" : "",
													"sInfoThousands" : ",",
													"sLoadingRecords" : "Cargando...",
													"oPaginate" : {
														"sFirst" : "Primero",
														"sLast" : "Último",
														"sNext" : "Siguiente",
														"sPrevious" : "Anterior"
													},
													"oAria" : {
														"sSortAscending" : ": Activar para ordenar la columna de manera ascendente",
														"sSortDescending" : ": Activar para ordenar la columna de manera descendente"
													}
												}
											});
						});
	</script>

	<div>
		Icons made by <a href="https://www.flaticon.es/autores/freepik"
			title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/"
			title="Flaticon">www.flaticon.com</a>
	</div>
</body>

</html>